@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
		display: block;

		vertical-align: middle;
}

audio,
canvas,
video {
		display: inline-block;

		vertical-align: middle;
}

audio:not([controls]) {
		display: none;

		height: 0;
}

[hidden],
template {
		display: none;
}

/* 0.1 html/body タグ
	 -----------------------------------*/
html {
				-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}
html * {
		-moz-box-sizing: border-box;
				 box-sizing: border-box;
}

body {
		font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
		font-size: 14px;
		line-height: 1.7em;

		margin: 0;

		color: #454545;
		background: #fff;

		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
}

/* 0.2 リンク
	 -----------------------------------*/
a {
		color: #694329;
		background: transparent;
}

a:focus {
		color: #442c1b;
		outline: 0 none;
}

a:active,
a:hover {
		color: #8e5a37;
		outline: 0;
}

/* 0.3 見出し
	 -----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;

		display: block;
}

h1 {
		font-size: 2em;

		margin: 0.67em 0;
}

h2 {
		font-size: 1.8em;

		margin: 0.67em 0;
}

/* 0.4 その他
	 -----------------------------------*/
abbr[title] {
		border-bottom: 1px dotted;
}

b,
strong {
		font-weight: bold;
}

dfn {
		font-style: italic;
}

hr {
		display: block;

		-moz-box-sizing: content-box;
				 box-sizing: content-box;
		height: 0;
		height: 1px;
		margin: 1em 0;
		padding: 0;

		border: 0;
		border-top: 2px solid #ccc;
}

mark {
		color: #000;
		background: #ff0;
}

code,
kbd,
pre,
samp {
		font-family: monospace, serif;
		font-size: 1em;
}

pre {
		white-space: pre-wrap;
}

q {
		quotes: '\201C' '\201D' '\2018' '\2019';
}

small {
		font-size: 80%;
}

sub,
sup {
		font-size: 75%;
		line-height: 0;

		position: relative;

		vertical-align: baseline;
}

sup {
		top: -0.5em;
}

sub {
		bottom: -0.25em;
}

img {
		max-width: 100%;
		height: auto;

		vertical-align: top;

		border: 0;
		outline: 0;
}

svg:not(:root) {
		overflow: hidden;
}

figure {
		margin: 0;
}

iframe {
		max-width: 100%;
}

table {
		border-spacing: 0;
		border-collapse: collapse;
}

/* 0.5 セレクト時のスタイル
	 -----------------------------------*/
::-moz-selection {
		background: #b3d4fc;
		text-shadow: none;
}

::selection {
		background: #b3d4fc;
		text-shadow: none;
}

fieldset {
		margin: 0;
		padding: 0;

		border: 0;
}

textarea {
		resize: vertical;
}

ul {
		margin: 0;
		padding: 0;

		list-style: none;
}

/* 0.6 テキスト : 中央寄り
	 -----------------------------------*/
.text-center {
		text-align: center;
}

/* 0.7 テキスト : 左寄り
	 -----------------------------------*/
.text-left {
		text-align: left;
}

/* 0.8 テキスト : 右寄り
	 -----------------------------------*/
.text-right {
		text-align: right;
}

/* 0.9 左へフロート
	 -----------------------------------*/
.f-left {
		float: left;
}

/* 0.10 右へフロート
	 -----------------------------------*/
.f-right {
		float: right;
}

/* 0.11 クリアフィックス
	 -----------------------------------*/
.clearfix:before,
.container:before,
.header:before,
.clearfix:after,
.container:after,
.header:after {
		display: table;

		content: ' ';
}

.clearfix:after,
.container:after,
.header:after {
		clear: both;
}

/* 0.12 画像リンクのアニメーション
	 -----------------------------------*/
a img {
		-webkit-transition: opacity ease-in 0.2s;
						transition: opacity ease-in 0.2s;
}
a img:hover {
		opacity: 0.7;
}

/* 0.13 テーブル
	 -----------------------------------*/
table {
		width: 100%;

		border-collapse: collapse;
}
table textarea,
table input[type='text'] {
		width: 100%;
}
table th {
		padding-left: 1em;

		text-align: left;
}





/*------------------------------------*\
	7.0 フォーム関連
	- - -
	フォーム関連のスタイル指定
\*------------------------------------*/
input[type=text],
input[type=search],
input[type=email],
input[type=url],
input[type=password],
textarea {
		font-size: 14px;
		line-height: 1.7em;

		vertical-align: middle;

		border: 2px solid #e8e8e8;
}


/* 7.2 ボタン
	 -----------------------------------*/
.btn {
		display: inline-block;

		padding: 5px;

		border: 1px solid #e8e8e8;
		background: #fff;
}

.btn-more {
		width: 100%;
		max-width: 222px;

		text-align: center;
		text-decoration: none;

		color: #fff;
		background-image: url(images/common/bg-btn-more.png);
		background-repeat: no-repeat;
		background-position: center center;
}

/*------------------------------------*\
	8.0 投稿関連
	- - -
	投稿コンテンツ内のスタイル指定
\*------------------------------------*/


/* 8.2 見出しh1
	 -----------------------------------*/
h1 {
		font-size: 24px;

		margin-top: 0;
		margin-bottom: 24px;
		padding-bottom: 16px;

		letter-spacing: 4px;

		background-image: url(images/common/bg-entry-header.png);
		background-repeat: no-repeat;
		background-position: left bottom;
}

/* 8.3 見出しh2
	 -----------------------------------*/
h2 {
		font-size: 20px;
		line-height: 1.5em;

		margin-top: 24px;
		margin-bottom: 24px;
		padding-bottom: 14px;

		color: #454545;
		border-bottom: 1px solid #e8e8e8;
}

/* 8.4 見出しh3
	 -----------------------------------*/
h3 {
		font-size: 18px;
		line-height: 27px;

		position: relative;

		margin-bottom: 16px;
		padding-bottom: 5px;

		border-bottom: 1px solid #e8e8e8;
}
h3:before {
		display: inline-block;

		width: 10px;
		height: 10px;
		margin-right: 8px;
		margin-left: 8px;

		content: '';

		border-radius: 50%;
		background: #ffcfae;
		background-image: -webkit-linear-gradient(224deg, rgba(211, 120, 120, 0.5) 0%, rgba(149, 36, 129, 0.5) 50%, rgba(185, 199, 39, 0.5) 100%);
		background-image:         linear-gradient(-134deg, rgba(211, 120, 120, 0.5) 0%, rgba(149, 36, 129, 0.5) 50%, rgba(185, 199, 39, 0.5) 100%);
}

/* 8.5 見出しh4
	 -----------------------------------*/
h4 {
		font-size: 16px;

		margin-top: 8px;
		margin-bottom: 8px;
}
h4:before {
		display: inline-block;

		margin-right: 0;
		margin-left: 0;

		content: '・';
}

/* 8.6 見出しh5
	 -----------------------------------*/
h5 {
		font-size: 14px;
		font-weight: 700;
}

/* 8.7 見出しh6
	 -----------------------------------*/
h6 {
		font-size: 14px;
		font-weight: 100;
}

/* 8.7 段落
	 -----------------------------------*/
p {
		line-height: 2em;

		margin-top: 0;
		margin-bottom: 8px;
}

dl dt {
		font-weight: bold;

		display: inline-block;

		margin-bottom: 1.14297em;

		border-bottom: 1px dashed #e8e8e8;
}
dl dd {
		margin-bottom: 1.14297em;
		margin-left: 1.14297em;
}

{
		/* 8.9 小さいテキスト
		 -----------------------------------*/
}
small {
		font-size: 0.8em;
}

/* 8.10 強調テキスト
	 -----------------------------------*/
strong {
		font-weight: bold;

		color: #905643;
}

/* 8.11 コードプレビュー
	 -----------------------------------*/
pre {
		padding: 16px;

		background: #e8e8e8;
}
code {
		display: inline;

		padding: 2px 5px;

		background: #e8e8e8;
}

/* 8.12 テーブル
	 -----------------------------------*/
table th,
table td {
		line-height: 2em;

		text-align: center;

		border: 1px solid #e8e8e8;
}
table th {
		font-weight: normal;

		padding-left: 0;

		background: #f7f7f7;
}

/* 8.14 お問い合わせフォーム
	 -----------------------------------*/
table.contact-form {
		margin-bottom: 2em;

		border: 1px solid #e8e8e8;
}
table.contact-form th {
		width: 30%;
		padding-top: 1.3em;
		padding-bottom: 1.3em;
		padding-left: 2.6em;

		text-align: left;
		vertical-align: top;
}
table.contact-form td {
		width: 70%;
		padding-top: 1.3em;
		padding-bottom: 1.3em;
		padding-left: 2em;

		text-align: left;
}
table.contact-form td textarea,
table.contact-form td input {
		width: auto;
		min-width: 70%;
}
table.contact-form textarea {
		min-height: 200px;
}

/*------------------------------------*\
	10.0 WordPress 独自スタイル
\*------------------------------------*/
.alignnone {
		margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
		display: block;

		margin: 5px auto 5px auto;
}

.alignright {
		float: right;

		margin: 5px 0 20px 20px;
}

.alignleft {
		float: left;

		margin: 5px 20px 20px 0;
}

.aligncenter {
		display: block;

		margin: 5px auto 5px auto;
}

a img.alignright {
		float: right;

		margin: 5px 0 20px 20px;
}

a img.alignnone {
		margin: 5px 20px 20px 0;
}

a img.alignleft {
		float: left;

		margin: 5px 20px 20px 0;
}

a img.aligncenter {
		display: block;

		margin-right: auto;
		margin-left: auto;
}

.wp-caption {
		max-width: 96%;
		/* Image does not overflow the content area */
		padding: 5px 3px 10px;

		text-align: center;

		border: 1px solid #f0f0f0;
		background: #fff;
}

.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
		margin: 5px 0 20px 20px;
}

.wp-caption img {
		width: auto;
		max-width: 98.5%;
		height: auto;
		margin: 0;
		padding: 0;

		border: 0 none;
}

.wp-caption .wp-caption-text {
		font-size: 11px;
		font-style: normal;
		line-height: 17px;

		margin: 0;
		padding: 0 4px 5px;
}

.screen-reader-text {
		display: none;
}
