@charset "UTF-8";
/** サイトコンテンツに関連する記述**/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body                         { font-family: Helvetica, Arial, 'Hiragino Ka
ku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
                               font-size: 14px;
                               line-height: 1.7em;
                               max-width: 726px; }
a                            { color: #694329; }
img                          { max-width: 100%;
                               height: auto;
                               vertical-align: top;
                               border: 0;
                               outline: 0; }
h1,h2,h3,h4,h5,h6            { font-family: 'Lato', sans-serif;
                               font-weight: 700;
                               line-height: 1.5em;}
h1                           { font-size: 24px;
                               margin-bottom: 24px;
                               padding-bottom: 16px;
                               letter-spacing: 4px;}
h2                           { font-size: 20px;
                               margin-top: 24px;
                               margin-bottom: 24px;
                               padding-bottom: 14px;
                               color: #454545;
                               border-bottom: 1px solid #e8e8e8; }
h3                           { font-size: 18px;
                               position: relative;
                               margin-bottom: 16px;
                               padding-bottom: 5px;
                               border-bottom: 1px solid #e8e8e8; }
h3:before                    { display: inline-block;
                               width: 10px;
                               height: 10px;
                               margin-right: 8px;
                               margin-left: 8px;
                               content: '';
                               border-radius: 50%;
                               background: #ffcfae;
                               background-image: linear-gradient(-134deg,
                               rgba(211, 120, 120, 0.5) 0%,
                               rgba(149, 36, 129, 0.5) 50%,
                               rgba(185, 199, 39, 0.5) 100%); }
h4                           { font-size: 16px;
                               margin-top: 8px;
                               margin-bottom: 8px; }
h4:before                    { display: inline-block;
                               margin-right: 0;
                               margin-left: 0;
                               content: '・'; }
h5                           { font-size: 14px; }
h6                           { font-size: 14px;
                               font-weight: 100;}
p                            { line-height: 2em;
                               margin-top: 0;
                               margin-bottom: 8px; }
small                        { font-size: 0.8em; }
strong                       { font-weight: bold;
                               color: #905643; }
pre                          { padding: 16px;
                               background: #e8e8e8; }
code                         { display: inline;
                               padding: 2px 5px;
                               background: #e8e8e8; }
table th,
table td                     { line-height: 2em;
                               text-align: center;
                               border: 1px solid #e8e8e8; }
table th                     { font-weight: normal;
                               padding-left: 0;
                               background: #f7f7f7; }
